@model Informational_system_Lib.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Информация за клиент</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Първо име
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Бащино име
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class = "col-sm-2">
            Фамилия
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdName)
        </dd>
        <dt class = "col-sm-2">
            Адрес
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Addres)
        </dd>
        <dt class = "col-sm-2">
            Телефонен номер
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            ЕГН
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EGN)
        </dd>
        <dt class = "col-sm-2">
            Име на взета книга
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfBook)
        </dd>
        <dt class = "col-sm-2">
            Дата на записване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRecord)
        </dd>
        <dt class = "col-sm-2">
            Дата на отписване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDeregistration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Редактиране</a> |
    <a asp-action="Index">Назад</a>
</div>
